@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	outline: none;
	--tw-shadow-color: rgba(99, 60, 255, 0.25);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-weight: 700;
}

body {
	@apply text-base text-grey bg-white;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
	.input {
		@apply placeholder:text-grey/50 w-full border invalid:border-red-400 border-clr focus:border-purple focus:shadow-lg max-sm:py-3 p-4 rounded-lg outline-none;
	}
	.btn-secondary {
		@apply text-purple w-full py-3 text-base active:bg-purple-light hover:bg-purple-light font-semibold border rounded-lg border-purple;
	}
}
